.button-pagination{
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: #F5FAFE;
    color: #000;
    cursor: pointer;
    width: 5%;
    }
 
    .button-pagination-not-clicked{
        font-weight: 400;
    }
    .button-pagination-clicked{
        color:#024677;
        font-weight: 700;
    }
    /* .button-pagination:focus{
        color:#024677;
        font-weight: 700;
    } */
    
    .pagination-container{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: flex-end;
    }