
.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: flex-start;
    margin-bottom: 30px;
}

.collection-item .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
}

.collection-item .item-title{
    color: #024677;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.collection-item .item-description{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color:#737373;
}

.collection-item .item-price{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color:#805C5C;
}
.collection-item .item-category{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color:#FFFFFF;
    background: #44E4E4;
    border-radius: 20px;
}



.collection-item .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
}
.collection-item .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

p.item-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

@media only screen and (max-width: 800px) {
    .collection-preview .preview{
        /* display: grid; */
    }
    .collection-item{
        width: 100%;
    }
  }

  @media only screen and (max-width: 500px) {
    .collection-preview{
        width: 100%;
    }
}