.catelogue-link{
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #024677;
    text-decoration: none;
}
.nav-container{
    display: flex;
    justify-content: space-between;
}
#search{
    border-radius: 100px;
    outline: none;
    border: none;
    padding: 0px 10px;
}


/* item css */
.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 10px 20px 10px 20px;
    min-height: 120vh;
}
.preview{
    flex-wrap: wrap;

}
.collection-preview .preview {
    display: flex;
    justify-content: space-between;
}
.abc{
    overflow: scroll;
    height: 100vh;
}

.abc::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 800px) {
    .nav-container{
        display: flex;

    }
}
