.sidebar{
    margin: 0;
    padding: 0;
    width: 220px;
    background-color:rgba(223, 223, 223, 0.3);
    position: fixed;
    height: 80%;
    min-height: 120vh;
    overflow: auto;
    margin: 10px 10px ;
}
.wrapper {
    position: absolute;
}

.sidebar a{
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #024677;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
}
p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 0rem !important;
}
.img_color_orange{
    width: 20px;
    height: 20px;
    left: 240px;
    top: 16px;
    background: #E47D44;
}
.img_color_lightBlue{
    width: 20px;
    height: 20px;
    left: 240px;
    top: 16px;
    background: #44E4E4;
}
.img_color_voilet{
    width: 20px;
    height: 20px;
    left: 240px;
    top: 16px;
    background: #5A44E4;
}
.img_color_green{
    width: 20px;
    height: 20px;
    left: 240px;
    top: 16px;
    background: #7CFE98;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    left: 10px;
    top: 15.5px;
    border: 2px solid #000000;
    box-sizing: border-box;
}

.sidebar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}